.container {
  display:block;
  height: 20%;
  margin-left: 10px;
  width: 70%;
  border: 2px solid rgb(65, 153, 51);
}
.firstText{
  display: flex;
  font-size: 100px;
  border: 2px solid rebeccapurple;
  margin: 0px;
}
.second{
  border: 2px solid rebeccapurple;
  font-size: 200px;
}
